<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

    {% include "components/head-post.njk" %}

    <body>

        {{ layoutContent | safe }}

    </body>

</html>
