---
layout: layouts/base.njk
section: home
---

<div class="container" aria-label="introduction">
    <div class="inner-container">
        {{ layoutContent | safe }}

  <div class="left"> &gt;&gt; <a href="/posts"> Archives &#x2192;</a></div>

    </div>
  
</div>


