---
layout: layouts/base.njk
section: page
---
<div class="container">

  
  

    <div class="inner-container">
        <h3>{{ title }}</h3>
          {% set postslist = collections.posts %}
        <div class="col-container">
          <ol>
            {% for post in postslist %}
          
            <li>
            <a href="{{ post.url | url }}" class="col-item">&gt;&gt; {{ post.data.title }} &#x2192;</a>
            </li>
            
            {% endfor %}
            </ol>
        </div>

        {{ layoutContent | safe }}
    </div>
</div>